*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root{
   font-size: 62.5%;
}
body{
   background: linear-gradient(287deg, #50409a 0%, #964ec2 100%);
   height: 100vh;
   font-size:1.6rem;
   font-family: "DM Sans", sans-serif;
   display: grid;
   place-items: center;
} 

button{
   background-color: #8576FF;
   color: #f5f5f5;
   font-weight: bold;
   font-size: 1.4rem;
   border-radius: 0 .3rem .3rem 0;
   cursor: pointer;
   transition: background .2s;
}
button:hover{
   background-color:#d9abff;
}

/* screen1 hide*/
.hide{
   display: none;
}
main{
   background-color: #151819;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
   border-radius: .6rem;
   padding: 4.8rem 6.4rem 6.4rem;
   width: 38rem;
   margin-top:-12rem;
   text-align: center;
   color: #f5f5f5;
}
h1{
   font-family: "Montserrat", sans-serif;
   font-size: 2.4rem;
   padding-bottom: 1.5rem;
   color: #8576FF;
}
p{
   color:#8576ff;
}
form{
   margin-top: 4rem;
   display: flex;
   justify-content: center;
}
input, button{
   padding: 1.6rem ;
   border: 0; 
   outline: none;
}
input{
   width:6rem;
   border-radius: .3rem 0 0 .3rem;
}


/* screen2*/
h2{
   font-size: 2.4rem;
   font-weight: normal;
   margin-bottom: 3.3rem;
}
.screen2 button{
   border-radius:.4rem;
}
